<?xml version="1.0"?>
<config>
  <modules>
    <MagentoNet_Cielo>
      <version>0.1.0</version>
    </MagentoNet_Cielo>
  </modules>
  <frontend>
    <routers>
      <cielo>
        <use>standard</use>
          <args>
            <module>MagentoNet_Cielo</module>
            <frontName>cielo</frontName>
          </args>
      </cielo>
    </routers>
		<layout>
		  <updates>
			<cielo>
			  <file>cielo.xml</file>
			</cielo>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <cielo>
        <class>MagentoNet_Cielo_Helper</class>
      </cielo>
    </helpers>
	<blocks>
	  <cielo>
		<class>MagentoNet_Cielo_Block</class>
	  </cielo>
	</blocks>
	<models>
	  <cielo>
		<class>MagentoNet_Cielo_Model</class>
		<resourceModel>cielo_mysql4</resourceModel>
	  </cielo>
	</models>
	<resources>
	  <cielo_setup>
		<setup>
		  <module>MagentoNet_Cielo</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </cielo_setup>
	  <cielo_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </cielo_write>
	  <cielo_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </cielo_read>
	  <customerattribute1380928223_setup>
		<setup>
		  <module>MagentoNet_Cielo</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1380928223_setup>
	  <customerattribute1380928223_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1380928223_write>
	  <customerattribute1380928223_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1380928223_read>
	</resources>
  </global>
    <default>
        <payment>
            <cielo>
                <model>MagentoNet_Cielo_Model_Payment</model>
                <active>1</active>
                <title>Pagamento por cartão de crédito</title>
            </cielo>
        </payment>
    </default>
</config> 